on post-fs
    insmod /system/lib/modules/focaltech_ts.ko

on init
    chown system root /proc/mdbg/assert
    chown system root /proc/mdbg/wdtirq
    chown system root /proc/mdbg/at_cmd
    chown system root /proc/mdbg/loopcheck

    chmod 760 /proc/mdbg/assert
    chmod 760 /proc/mdbg/wdtirq
    chmod 760 /proc/mdbg/at_cmd
    chmod 760 /proc/mdbg/loopcheck

on cali
service download /system/bin/download
    class cali
    user root
    group root
